language: node_js
node_js: stable

# S: Build Lifecycle
install:
  - npm install
  - npm install hexo-cli -g
  
#before_script:
 # - npm install -g gulp

script:
  - hexo generate

after_script:
  - cd ./public
  - git init
  - git config user.name "${GIT_USER_NAME}"
  - git config user.email "${GIT_USER_EMAIL}"
  - git add .
  - git commit -m "Static Site Updated."
  - git push --force --quiet "https://${ACCESS_TOKEN}@${STATIC_SITE_REPO}" master:master
# E: Build LifeCycle

branches:
  only:
    - blog-source
#env:
# global:
 #  - GH_REF: github.com/smuwjs/smuwjs.github.io.git